.container {
    background-color: darkcyan;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.me {
    height:100px;
    width: 100px;
    position:relative;
    left: 30px;
    top: 50px;
    border-radius: 50%;
}

h1 {
    position: relative;
    top: 30px;
    left: 10px;
    font-family: cursive;
}

h2 {
    position: relative;
    left: 30px;
    top: 20px;
    font-family: cursive;
}

img{
    height: 18px;
    position: relative;
    right: 10px;
}

h3 {
    position: relative;
    top: 20px;
    font-family: cursive;
}

a {
    position: relative;
    left: 20px;
    top: 30px;
    font-family: cursive; 
}

.gear {
    height: 12px;
}